<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Dry Clean</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Clothing ID</dt>
              <dd><%= dry_clean.clothing_id %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/dry_cleans" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/dry_cleans/<%= @dry_clean.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_dry_clean/<%= @dry_clean.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
